<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-class Suite" parallel="tests" thread-count="10">

    <test name="ThirdPartySignUpTestsOnChrome">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="tests.ThirdPartySignUpTests"/>
        </classes>
    </test>

<!--    <test name="SignUpFailuresOnChrome">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpFailureTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="SignUpOnChrome">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpTest"/>-->
<!--        </classes>-->
<!--    </test>-->


    <test name="ThirdPartySignUpTestsOnFirefox">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="tests.ThirdPartySignUpTests"/>
        </classes>
    </test>

<!--    <test name="SignUpFailuresOnFirefox">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpFailureTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="SignUpOnFirefox">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpTest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="ThirdPartySignUpTestsOnEdge">
        <parameter name="browserName" value="edge"/>
        <classes>
            <class name="tests.ThirdPartySignUpTests"/>
        </classes>
    </test>

<!--    <test name="SignUpFailuresOnEdge">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpFailureTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ThirdPartySignUpTestsOnOpera">-->
<!--        <parameter name="browserName" value="opera"/>-->
<!--        <classes>-->
<!--            <class name="tests.ThirdPartySignUpTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="SignUpFailuresOnOpera">-->
<!--        <classes>-->
<!--            <class name="tests.SignUpFailureTests"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>